@import url("https://fonts.googleapis.com/css?family=Chakra+Petch");

.body {
    background-color: white;
    font-family: "Chakra Petch", sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
}

.header {
    text-align: center;
    color: #0039ff;
    font-size: 30px;
    text-transform: uppercase;
}

.survey-form {
    max-width: 700px;
    margin: auto;
    border-width: 1px;
    border-color: rgba(126, 127, 127, 0.3);
    border-style: outset;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-top-color: rgba(0, 57, 255, 0.902);
    border-top-width: 4px;
    background-color: #fdfdff;
    color: #62697f;
    border-radius: 3px;
    position: relative;
}

.form-send {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fdfdff;
    align-items: center;
    justify-content: center;
    display: none;
}


.form-send__text {
    font-size: 35px;
    margin: 5%;
    text-align: center;
    text-transform: uppercase;
}

.survey-form__description {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.survey-form__columns {
    display: block;
    margin: 0 auto;
}

.survey-form__column {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 50%;
}

.standart-button {
    display: none;
}

.custom-button {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #7e7f7e;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

.standart-button:checked+.custom-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #0039ff;
}

.custom-button_radio,
.standart-button:checked+.custom-button_radio::before {
    border-radius: 50%;
}

.gender__label {
    display: inline;
    padding-right: 15px;
}


.favorites__inner {
    display: flex;
}

.favorites__block {
    padding-right: 15px;
}

.favorites__label {
    padding-bottom: 10px;
}

.option {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

.submit {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.label {
    margin-bottom: 5px;
    display: block;
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
}


.textarea {
    display: flex;
    justify-content: center;
}


.submit__button {
    border-width: 2px;
    border-color: #0039ff;
    font-size: 15px;
    color: #62697f;
    width: 170px;
    height: 40px;
    transition: 0.5s;
    background-color: #fdfdff;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    border-radius: 3px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Chakra Petch", sans-serif;
}

.submit__button:hover {
    background-color: #0039ff;
    color: #fdfdff;
}

.input {
    outline: none;
    border: none;
    border-bottom: 2px solid #7e7f7f;
    transition-property: border-bottom;
    transition-duration: 0.7s;
    background-color: #fdfdff;
    color: #62697f;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Chakra Petch",
        sans-serif;
}

.width {
    width: 230px;
}

.input:focus {
    border-bottom: 2px solid #0039ff;
}

.textarea {
    margin: 0 5%;
}

.textarea__width {
    width: 90%;
}

.boxes {
    border: 2px solid #7e7f7f;
    transition-property: border;
    transition-duration: 0.7s;
    background-color: #fdfdff;
    color: #62697f;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Chakra Petch",
        sans-serif;
}

.margin-bottom {
    margin-bottom: 30px;
}

.boxes:focus {
    border: 2px solid #0039ff;
    outline: none;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 560px) {
    .survey-form__columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5%;
    }

    .textarea__width {
        width: 98%;
    }
}


@media (min-width: 640px) {

    .survey-form__columns {
        margin: 0;
        margin-left: 7%;
    }

}

